 <div class="row">
{{#each Data}}

    <div class="col  m12 l6 xl4">

      <div class="card ">
        <div class="card-content">
            <img src="https://ipcdn.freshop.com/resize?url=https://images.freshop.com/00089819001712/7e8b7f41d2e14ad9686e68c688eaacf7_large.png&width=256&type=webp&quality=40">
          <span class="card-title">{{vineName}}</span>
         <p>{{vineType}} vine from {{vineCountry}}</p>
          <p>Rated as {{vineRate}}</p>
        </div>
        <div class="card-action">
          <p>Price: {{vinePrice}} Eur.</p>
          
        </div>
      </div>
    </div>
  
{{/each}}
</div>
