<table>
<thead>
    <th class="center-align">Vine name</th>
    <th class="center-align">Vine type</th>
    <th class="center-align">Vine country</th>
    <th class="center-align">Vine rate</th>
    <th class="center-align">Vine price</th>
</thead>
{{#each Data}}
<tbody>
    <tr>
        <td>{{vineName}}</td>
        <td>{{vineType}}</td>
        <td>{{vineCountry}}</td>
        <td>{{vineRate}}</td>
        <td>{{vinePrice}}</td>
    </tr>
{{/each}}
</tbody>



</table>